<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Not A Marketing Email.</title>
    
    
    
    
    
    
    
    
  </head>

  <body>

    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head></head>

<body>
  <div id="mainContent" style="text-align: left;">
    <table cellpadding="10" cellspacing="0" style="background-color:
    rgb(255,255,255); width: 100%; height: 100%;">
      <tbody>
        <tr>
          <td valign="top">
            <table align="center" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <table cellpadding="0" cellspacing="0" style="width: 586px;">
                      <tbody>
                        <tr>
                          <td sectionid="preheader" style="text-align: left; margin: 0; padding: 10px 0;
                          border: none; white-space: normal; line-height:
                          normal;">
                            <div>
                              <div>
                                <div style="margin: 0; padding: 0;
                                background: none; border: none; white-space:
                                normal; line-height: normal;
                                overflow: visible; font-size: 11px;
                                font-family: arial; color: rgb(26,36,46);
                                text-align: center;">
                                  <div contentid="preheader" style="margin:
                                  0; padding: 0; background: none; border:
                                  none; white-space: normal;
                                  line-height: normal; overflow: visible;
                                  font-size: 11px; font-family: arial;
                                  color: rgb(26,36,46); text-align: center;">
                                    <div>
                                      <p style="font-size:0px;">Happy Thursday! I'd like to preface this by saying...</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td sectionid="header" style="text-align: left; margin: 0; padding: 0; border:
                          none; white-space: normal; line-height: normal;
                          height: 30px; background-color:
                          rgb(255,255,255);">
                            <div>
                              <div style="height: 15px; line-height: 15px;"> </div>
                            </div>
                            <div>
                              <table cellpadding="0" cellspacing="0" style="max-width:
                              586px;margin: 0 auto;" width="100%">
                                <tbody>
                                  <tr>
                                    <td style="text-align: center;">
                                      <a href="https://www.brooklinen.com/?_ke=bWlrZW5lbHNvbjAxQGdtYWlsLmNvbQ%3D%3D&email=mikenelson01%40gmail.com&utm_campaign=Forbes+Article+%28qkNZBJ%29&utm_medium=email&utm_source=Blast+List+Updated+6%2F29">
                                        <img alt="| Brooklinen" class="logo" src="https://cdn.shopify.com/s/files/1/0592/9689/files/youre_in_02_logo_black_01.png?300891491832045603" style="height: auto;max-width: 200px;margin: 10px 0 40px 0;">
                                      </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="text lead" style="text-align: center;">
                                      <p style="text-align: left; margin: 0
                                      auto; font-family: 'Century Gothic',
                                      CenturyGothic, AppleGothic, sans-serif;
                                      font-size: 23px; line-height: 32px;
                                                  color: #000; max-width: 570px;">Hi Everyone,
                                        <br>
                                        <br>Happy Thursday! I'd like to preface this by saying this is <strong>not</strong> a marketing email, just a quick thank you note.
                                        <br>
                                        <br>Last week,
                                        <a href="https://www.forbes.com/sites/elainepofeldt/2016/06/30/this-hot-brooklyn-startups-growth-engine-sharing-economy-talent/?utm_campaign=Forbes+Article+%28qkNZBJ%29&utm_medium=email&_ke=bWlrZW5lbHNvbjAxQGdtYWlsLmNvbQ%3D%3D&utm_source=Blast+List+Updated+6%2F29#5227648c67fb">Forbes</a> wrote
                                        an article on the incredible growth of our company over the past 18 months. We are so proud and wanted to take a moment to
                                        <a href="https://www.forbes.com/sites/elainepofeldt/2016/06/30/this-hot-brooklyn-startups-growth-engine-sharing-economy-talent/?utm_campaign=Forbes+Article+%28qkNZBJ%29&utm_medium=email&_ke=bWlrZW5lbHNvbjAxQGdtYWlsLmNvbQ%3D%3D&utm_source=Blast+List+Updated+6%2F29#5227648c67fb">share the piece with you.</a> Your
                                        patronage, support and feedback along the way have been the keys to making this all happen and we are so grateful.
                                        <br>
                                        <br>We wanted to sincerely thank everyone and as far as we're concerned, you are all part of our founding team.
                                        <br>
                                        <br>Thanks again and sleep well!
                                        <br>
                                        <br>All the best,
                                        <br>Rich and Vicki Fulop
                                        <br>
                                      </p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div>
                              <div style="height:
                                        15px; line-height:
                                        15px;
                                        margin-top: 25px;
                                        border-top: 1px
                                        solid
                                        #777;"> </div>
                            </div>
                            <div style="max-width:550px;">
                              <div style="margin:
                                        0; padding: 0;
                                        background:
                                        none; border: none;
                                        white-space: normal;
                                        line-height:
                                        normal; overflow:
                                        visible; font-size:
                                        12px; font-family:
                                        arial;
                                        color: rgb(0,0,0);">
                                <div contentid="paragraph" style="margin: 0;
                                          padding: 0;
                                          background: none;
                                          border: none;
                                          white-space:
                                          normal;
                                          line-height:
                                          normal; overflow:
                                          visible;
                                          font-size:
                                          12px;
                                          font-family:
                                          arial; color:
                                          rgb(0,0,0);">
                                  <div style="display:
                                            block;">
                                    <a class="inf-track-no" href="~Link-418~" nottracked="false" shape="rect" style="color: rgb(6,69,173);">
                                      <img align="left" alt="brooklinen.com" border="0" src="https://d1yoaun8syyxxt.cloudfront.net/yg218-721561f7-6406-43b7-b376-c67fc233685f-v2" style="margin: 0; margin-right: 25px; margin-left: 0px; padding: 0;
                                                background:
                                                none;
                                                border:
                                                none;
                                                white-space:
                                                normal;
                                                line-height:
                                                normal;" title="brooklinen.com" width="141">
                                    </a>
                                    <a href="mailto:hello@brooklinen.com" nottracked="true" shape="rect" style="color:
                                              rgb(6,69,173);">
                                      <img align="right" border="0" height="19" src="https://d1yoaun8syyxxt.cloudfront.net/yg218-3483cd5b-eefc-4f74-acfe-737c3b4da21e-v2" style="margin: 0; margin-right: 0px; margin-left: 25px; padding: 0;
                                              background:
                                              none; border:
                                              none;
                                              white-space:
                                              normal;
                                              line-height:
                                              normal;" width="18">
                                    </a>
                                    <a class="inf-track-no" href="~Link-420~" nottracked="false" shape="rect" style="color:
                                              rgb(6,69,173);">
                                      <img align="right" border="0" height="19" src="https://d1yoaun8syyxxt.cloudfront.net/yg218-86d8d67f-893d-4030-8022-21355490d03d-v2" style="margin: 0; margin-right: 0px; margin-left: 25px; padding: 0;
                                              background:
                                              none; border:
                                              none;
                                              white-space:
                                              normal;
                                              line-height:
                                              normal;" width="18">
                                    </a>
                                    <a class="inf-track-no" href="~Link-422~" nottracked="false" shape="rect" style="color:
                                              rgb(6,69,173);">
                                      <img align="right" border="0" height="19" src="https://d1yoaun8syyxxt.cloudfront.net/yg218-82c73969-c46e-4a82-b41a-7fc56fd77062-v2" style="margin: 0; margin-right: 0px; margin-left: 25px; padding: 0;
                                              background:
                                              none; border:
                                              none;
                                              white-space:
                                              normal;
                                              line-height:
                                              normal;" width="18">
                                    </a>
                                    <a class="inf-track-no" href="~Link-424~" nottracked="false" shape="rect" style="color:
                                              rgb(6,69,173);">
                                      <img align="right" border="0" height="19" src="https://d1yoaun8syyxxt.cloudfront.net/yg218-c1644329-47bc-44a6-b770-c7d2efcdd467-v2" style="margin: 0; margin-right: 0px; margin-left: 25px; padding: 0;
                                              background:
                                              none; border:
                                              none;
                                              white-space:
                                              normal;
                                              line-height:
                                              normal;" width="18">
                                    </a>
                                    <a class="inf-track-no" href="~Link-426~" nottracked="false" shape="rect" style="color:
                                              rgb(6,69,173);">
                                      <img align="right" border="0" height="19" src="https://d1yoaun8syyxxt.cloudfront.net/yg218-d323a473-2d22-4094-b7b6-4665c2b4c49b-v2" style="margin: 0; margin-right: 0px; margin-left: 25px; padding: 0;
                                              background:
                                              none; border:
                                              none;
                                              white-space:
                                              normal;
                                              line-height:
                                              normal;" width="18">
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <table align="center" bgcolor="#FFFFFF" cellpadding="20" cellspacing="0" style="width: 587px;
                            background-color:
                            rgb(255,255,255);text-align:center;">
    <tbody>
      <tr>
        <td sectionid="body" style="text-align: center; margin: 0; padding: 0px; border:
                                  none; white-space: normal;
                                  line-height: normal;
                                  background-color:
                                  rgb(255,255,255);text-align:center;" valign="top">
          <div>
            <div style="height: 15px;
                                      line-height: 15px;"> </div>
          </div>
          <div>
            <div style="height: 15px;
                                      line-height: 15px;"> </div>
          </div>
        </td>
      </tr>
      <tr>
        <td sectionid="footer" style="text-align: left; margin: 0; padding: 20px;
                                  border: none; white-space:
                                  normal; line-height: normal;
                                  background-color:
                                  rgb(255,255,255);text-align:center;" valign="top">
          <div>
            <div style="margin: 0;
                                      padding: 0; background:
                                      none; border: none;
                                      white-space: normal;
                                      line-height:
                                      normal; overflow:
                                      visible; font-size:
                                      10px;
                                      font-family: verdana;
                                      color:
                                      rgb(0,0,0);text-align:center;">Brooklinen Inc | 81 Prospect St, Brooklyn NY 11201 | USA</div>
          </div>
          <div>
            <div style="margin: 0;
                                      padding: 0; background:
                                      none; border: none;
                                      white-space: normal;
                                      line-height:
                                      normal; overflow:
                                      visible; font-size:
                                      10px;
                                      font-family: verdana;
                                      color:
                                      rgb(0,0,0);">
              <div contentid="paragraph" style="margin: 0;
                                        padding: 0;
                                        background:
                                        none; border: none;
                                        white-space: normal;
                                        line-height:
                                        normal; overflow:
                                        visible;
                                        font-size: 10px;
                                        font-family:
                                        verdana; color:
                                        rgb(0,0,0);text-align:center;">
                <div>If you prefer not to receive emails, you may
                  <a class="unsubscribe-link" href="#">Unsubscribe</a>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>
    
    
    
    
    
  </body>
</html>
