<!DOCTYPE html>
<html lang="en">



<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Con Amore</title>

<meta property="og:title" content="Con AMore-Coming soon" />
<meta property="og:type" content="website" />
<meta property="og:image" content="images/bg-one.jpg" />

<script src="../../cdn-cgi/apps/head/OkbNSnEV_PNHTKP2_EYPrFNyZ8Q.js"></script>
<link rel="stylesheet" href="css/app.min.css" />
</head>
<body>
<div class="animation anim-dark" data-aos="slide-effect-2">
<div class="wrapper animation-inner">
<div class="background">
<div class="video-container">
<div class="filter"></div>
<video poster="images/poster.jpg" id="bgvid" playsinline autoplay muted loop>
<source src="images/video.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source src="images/video.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
</video>
</div>
</div>

<div class="content-section d-flex justify-content-center align-items-center">
<div class="v-lines">
<div class="vline-1"></div>
<div class="vline-2"></div>
<div class="vline-3"></div>
<div class="vline-4"></div>
</div>
<div class="container">
<div class="left-content text-light align-self-center">
<img src="images/freedom.png" class="img-fluid" alt="creative freedom" data-aos="fade" data-aos-delay="1800" />
<p class="lead my-4" data-aos="fade" data-aos-delay="2500">WE ARE ALMOST HERE</p>
<p class="lead my-4" data-aos="fade" data-aos-delay="2500">Our website is under construction, but we are ready to go! <br> We are preparing something amazing and exciting for you. <br>Special surprise for our subscribers only</p>

<span class="animation anim-light" data-aos="slide-effect-btn" data-aos-delay="3000">
<a href="javascript:void(0);" class="btn btn-lg btn-outline" data-toggle="modal" data-target="#subscribeModal">Subscribe Now</a>
</span>
</div>

</div>

</div>

<div class="sidebar sidebar-dark d-flex flex-column justify-content-end" data-aos="slide-left" data-aos-delay="3000">


<div class="social-links">
<a href="https://www.facebook.com/Conamore-Jewellery-105557755183723" target="_blank"> Facebook </a>
<a href="https://www.instagram.com/conamore_jewellery/" target="_blank"> Instagram </a>
</div>
</div>



</div>

</div>


<div class="modal modal-center modal-dark" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true"><i class="pe-7s-close pe-2x"></i></span>
</button>
<h5 class="modal-title" id="subscribeModalLabel">Subscribe Now</h5>
<p class="lead text-center text-light p-2">
    Subscribe to our newsletter and get 10% off on your first purchase!
</p>
<form class="pr-4 pl-4 pb-4" id="subscribeform" action="https://demo.web3canvas.com/themeforest/fluid/php/subscribe.php" method="post">
<div class="form-group md-form">
<input type="text" name="fname" class="form-control input-material" autocomplete="off" required>
<span class="highlight"></span>
<span class="bar"></span>
<label class="">First Name</label>
</div>
<div class="form-group md-form">
<input type="email" name="email" class="form-control input-material" autocomplete="off" required>
<span class="highlight"></span>
<span class="bar"></span>
<label class="">Email Address</label>
</div>
<div class="form-group text-center">
<button type="submit" class="btn btn-lg btn-outline" id="js-subscribe-btn">Subscribe Now</button>
<div id="js-subscribe-result" data-success-msg="Success, Please check your email." data-error-msg="Oops! Something went wrong"></div>
</div>
</form>
</div>
</div>
</div>
</div>



<script src="js/app.min.js"></script>
</body>
</html>