<!DOCTYPE html>
<html class="no-js" lang="en">

  

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta charset="utf-8">

    <!-- Page Title-->
    <title>Con Amore</title>

    <!-- Meta Tags-->
    <meta name="description" content="Con Amore - versatile and beautifully designed jewellry for all">
    <meta name="keywords" content="conamore, con amore, coming soon, under construction, coming soon page, jewellery, jewelry, london, india,ring, eaaring, necklace, bracelet, fashion, elegant">
    <meta name="author" content="con_amore">

    <!-- Viewport Meta-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Template Favicon & Icons Start -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64 96x96" href="img/favicon/logo2.svg" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/logo2.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/logo2.svg">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/logo2.svg">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#25237e">
    <meta name="msapplication-TileColor" content="#ffaca3">
    <!-- Template Favicon & Icons End-->

 
    <!-- Template Styles Start-->
    <link rel="stylesheet" type="text/css" href="css/plugins.css">
    <link rel="stylesheet" type="text/css" href="css/loaders/loader-light.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!-- Template Styles End-->

    <!-- Custom Browser Color Start-->
    <meta name="theme-color" content="#C69681">
    <meta name="msapplication-navbutton-color" content="#C69681">
    <meta name="apple-mobile-web-app-status-bar-style" content="#C69681">
    <!-- Custom Browser Color End-->

  </head>

  <body class="split light-skin overflow-hidden">

    <!-- Old Browsers Support Start-->
    <!--[if lt IE 9]>
      <script src="js/libs/es5-shim.min.js"></script>
      <script src="js/libs/html5shiv.min.js"></script>
      <script src="js/libs/html5shiv-printshiv.min.js"></script>
      <script src="js/libs/respond.min.js"></script>
    <![endif]-->
    <!-- Old Browsers Support End-->

    <!-- Loader Start-->
    <div class="loader">
      <div class="loader-content">
        <div class="loader-logo fadeIn">
          <!-- Your Logo Here -->
          <img src="/img/imbue-logo-loader.svg" alt="Imbue - Classy Coming Soon & Landing Page Template">
        </div>
      </div>
    </div>
    <!-- Loader End-->

    <!-- Custom HTML Start-->

    <!-- Navigation Start-->
    <nav id="menu" class="menu light">

    
      <!-- Menu Background Objects Start -->
      <div class="menu-background-objects">
        <div class="objects-layer">
          <div class="menu-obj-1"></div>
          <div class="menu-obj-2"></div>
        </div>
      </div>
      <!-- Menu Background Objects End -->

    </nav>
    <!-- Navigation End-->

    <!-- Main Screen Section Start-->
    <section id="main" class="main-section">

      <!-- Logo Start -->
      <div class="logo">
        <img src="/img/demo/Layer-1.svg" alt="Imbue - Classy Coming Soon & Landing Page Template">
      </div>
      <!-- Logo End -->

     
      <!-- Main Section Content Start -->
      <div class="main-section__content">
        <div class="container-fluid p-0 fullheight">
          <div class="row no-gutters fullheight">

            <!-- Main Section Intro Start -->
            <div class="col-12 col-lg-6 main-section__intro">
              <div class="intro-content">

                <!-- Headline Start -->
                <div id="headline" class="headline">
                  <span class="headline__subtitle">Let’s meet</span>
                  <h1>New start is coming</h1>
                  <p class="headline__text">Our website is under construction, but we are ready to go! We are preparing something amazing and exciting for you. Special surprise for our subscribers only</p>
                  <div class="headline__btnholder">
                    <a href="#" id="notify-trigger" class="btn btn-light">
                      <span class="btn-background">
                        <span class="btn-caption">Notify me</span>
                      </span>
                    </a>
                  </div>
                </div>
                <!-- Headline End -->

                <!-- Notify Popup Start-->
                <div id="notify" class="notify">

                  <!-- Popup Controls Start -->
                  <div class="popup-controls">
                    <a href="#0" id="notify-close" class="section-close dark"></a>
                  </div>
                  <!-- Popup Controls End -->

                  <!-- Popup Content Start -->
                  <div class="popup-content">

                    <!-- Popup Title Start -->
                    <div class="content-block popup-title">
                      <span class="popup-title__subtitle">Stay in touch</span>
                      <p class="popup-title__title">We are almost here</p>
                      <p class="popup-title__text">Subscribe to our newsletter and we will send you a notification about the launch of our brand new site.</p>
                    </div>
                    <!-- Popup Title End -->

                    <!-- Popup Content Block Start -->
                    <div class="content-block">
                      <div class="form-container">

                        <!-- Reply Messages Start-->
                        <div class="reply-group subscription-ok">
                          <i class="icon ion-ios-checkmark reply-group__icon"></i>
                          <p class="reply-group__title txt-light">Done!</p>
                          <span class="reply-group__text">Thanks for subscribing. We will send you a notification about the launch of our brand new website.</span>
                        </div>
                        <div class="reply-group subscription-error">
                          <i class="icon ion-sad reply-group__icon"></i>
                          <p class="reply-group__title">Ooops!</p>
                          <span class="reply-group__text">Something went wrong. Please try again later.</span>
                        </div>
                        <!-- Reply Messages End-->

                        <!-- Notify Contact Form Start-->
                        <form class="form notify-form form-dark" onsubmit="return false">
                           <input class="" type="text" placeholder="Name*" id="nameInput" required>
                          <input class="" type="email" placeholder="Email Adress*" id="emailInput" required>
                          <span class="inputs-description" style="color: red;" id="errorInput"></span>
                          <span class="inputs-description">*Required fields</span>
                        
                          <button class="btn btn-light">
                            <span class="btn-background">
                              <span class="btn-caption">Send</span>
                            </span>
                          </button>
                        </form>
                        <!-- Notify Contact Form End-->

                      </div>
                    </div>
                    <!-- Popup Content Block End -->

                  </div>
                  <!-- Popup Content End -->

                </div>
                <!-- Notify Popup End-->

              </div>
            </div>
            <!-- Main Section Intro End -->

            <!-- Main Section Media Start -->
            <div class="col-12 col-lg-6 main-section__media">
              <div class="media-content">

                <!-- Main Section Split Image Background Start -->
                <!--<div class="media-image media-image-3"></div> -->
                <!-- Main Section Split Image Background End -->

                <div class="color-layer color-layer-quicksand"></div>

                <!-- Main Section Color Gradient Layer Start -->
                <div class="color-layer gradient-layer"></div>
                <!-- Main Section Color Gradient Layer End -->

                <!-- Main Section Countdown Start -->
                <div class="media-countdown">
                  <!-- Countdown Start-->
                  
                  <!-- Countdown End-->
                </div>
                <!-- Main Section Countdown End -->

                <!-- Background Effect Start -->
                <div class="video-background">
                  <div class="" id="video-wrapper">
                    <div id="bgndVideo" class="player" data-property="{ videoURL:'https://youtu.be/cCK1GorsUVw', }"></div>
                  </div>
                </div>
                <!-- Background Effect End -->

              </div>
            </div>
            <!-- Main Section Media End -->

          </div>
        </div>
      </div>
      <!-- Main Section Content End -->

      <!-- Main Section Aside Start -->
      <aside class="main-section__aside">
        <div class="aside-content">
          <!-- Socials Start -->
          <div class="socials dark">
            <ul>
              <li>
                <a href="https://www.facebook.com/Conamore-Jewellery-105557755183723" target="_blank">Facebook</a>
              </li>
              <li>
                <a href="https://www.instagram.com/conamore_jewellery/" target="_blank">Instagram</a>
              </li>
            </ul>
          </div>
          <!-- Socials End -->
        </div>
      </aside>
      <!-- Main Section Aside End -->

    </section>
    <!-- Main Screen Section End-->

   

  
  

    <!-- Custom HTML End-->

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe.
      It's a separate element, as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>

      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

          <div class="pswp__top-bar">

            <!--  Controls are self-explanatory. Order can be changed. -->

            <div class="pswp__counter"></div>

            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

            <button class="pswp__button pswp__button--share" title="Share"></button>

            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
            </div>
          </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

      </div>

    </div>

    <!-- Load Scripts Start-->
    <script src="js/libs.min.js"></script>
    <script src="js/gallery-init.js"></script>
    <script src="js/imbue-custom.js"></script>
    <!-- Load Scripts End-->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2TVET7RBW8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2TVET7RBW8');
</script>

  </body>



</html>
